#root {
  max-width: 1280px;
}

.app {
  h1 {
    font-size: 50px;
    text-transform: uppercase;
  }
  img {
    max-width: 100%;
  }
  button {
    appearance: none;
    background-color: #eebbc3;
    color: #232946;
    border-radius: 12px;
    padding: 15px;
    width: 300px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      letter-spacing: 2px;
    }
  }
}
